html {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: sans-serif;
  font-size: 16px;
  color: #fff;
  background-image: url("https://jooinn.com/images/ice-mountain-1.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

h1 {
  position: fixed;
  right: 2vw;
  bottom: 1vw;
  font-size: 12px;
  margin: 0;
}

h1, h2, label, ul {
  user-select: none;
}

.box {
  margin: auto;
  /*position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);*/
  max-width: 400px;
  padding: 40px;
  box-sizing: border-box;
  background-color: rgba(0, 0, 0, .8);
  border-radius: 10px;
  box-shadow: 0 15px 25px rgba(0, 0, 0, .5);
}

.box h2 {
  margin: 0 0 40px;
  text-align: center;
}

.box>form {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px 0;
}

.box div {
  position: relative;
}

.box input {
  outline-style: none;
}

.box input:not([type="checkbox"]), .box label {
  padding: 10px 0;
  letter-spacing: 1px;
}

.box input:not([type="checkbox"]) {
  color: inherit;
  font-family: inherit;
  font-size: inherit;
}

div, .box input:not([type="checkbox"]) {
  width: 100%;
}

.box div>input {
  background-color: transparent;
  border: none;
  border-bottom: 1px solid #fff;
  transition: .5s;
}

.box div>label {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  transition: .5s;
}

.box label sup {
  font-size: 10px;
}

.box div>.tooltipText {
  visibility: hidden;
  position: absolute;
  left: 0;
  top: calc(100% + 7px);
  z-index: 1;
  filter: drop-shadow( 0 0 2px rgba(242, 4, 52, .8)) drop-shadow( 0 0 5px rgba(242, 4, 52, .8)) drop-shadow( 0 5px 15px #000);
}

.box div>.tooltipText>span {
  display: block;
  background-color: #000;
  color: #f20434;
  text-align: center;
  border-radius: 5px;
  padding: 5px 0;
  /*box-shadow: 0 15px 25px rgba(0, 0, 0, .5);*/
}

.box div>.tooltipText>span:before {
  content: "";
  z-index: -1;
  position: absolute;
  transform: translate(-50%, -50%) rotate(45deg);
  width: 5px;
  height: 5px;
  bottom: calc(100% - 5px);
  left: 50%;
  background-color: #000;
}

.box div>input:hover:invalid~.tooltipText, .box div>input:focus:invalid~.tooltipText {
  visibility: visible;
}

.box div>input:focus+label, .box div>input:hover+label, .box div>input:not(:placeholder-shown)+label {
  top: -18px;
  font-size: 12px;
}

.box div>input:not(:placeholder-shown):not(:focus):valid {
  border-bottom-color: #04abf2;
}

.box div>input:not(:placeholder-shown):not(:focus):invalid {
  border-bottom-color: #f20434;
}

.box div>input:not(:placeholder-shown):not(:focus):valid+label {
  color: #04abf2;
  text-shadow: 0 0 5px #00b6ff, 0 0 10px #00b6ff, 0 0 20px #00b6ff, 0 0 40px #00b6ff, 0 0 60px #00b6ff;
}

.box div>input:not(:placeholder-shown):not(:focus):invalid+label {
  color: #f20434;
  text-shadow: 0 0 5px #ff0037, 0 0 10px #ff0037, 0 0 20px #ff0037, 0 0 40px #ff0037, 0 0 60px #ff0037;
}

/* Léptető gombok eltűntetése type="number"-nél. */

/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button, input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */

input[type=number] {
  -moz-appearance: textfield;
}

input[type="checkbox"] {
  position: relative;
  width: 90px;
  height: 30px;
  appearance: none;
  background-image: linear-gradient(0deg, #333, #000);
  border-radius: 20px;
  box-shadow: 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, .5), inset 0 0 15px rgba(0, 0, 0, .2);
  margin: 5px;
}

input:checked[type="checkbox"] {
  background-image: linear-gradient(0deg, #6dd1ff, #20b7ff);
  box-shadow: 0 0 2px #6dd1ff, 0 0 0 4px #353535, 0 0 0 5px #3e3e3e, inset 0 0 10px rgba(0, 0, 0, 1), 0 5px 20px rgba(0, 0, 0, .5), inset 0 0 15px rgba(0, 0, 0, .2);
}

input[type="checkbox"]:before {
  content: "";
  position: absolute;
  width: 60px;
  height: 30px;
  background-image: linear-gradient(0deg, #000, #6b6b6b);
  border-radius: 15px;
  top: 0;
  left: 0;
  box-shadow: 0 0 0 1px #232323;
  transition: .5s;
}

input:checked[type="checkbox"]:before {
  left: 30px;
}

input[type="checkbox"]:after {
  content: "";
  position: absolute;
  width: 4px;
  height: 4px;
  top: calc(50% - 2px);
  left: 50px;
  background-image: linear-gradient(0deg, #6b6b6b, #000);
  border-radius: 50%;
  transition: .5s
}

input:checked[type="checkbox"]:after {
  left: 80px;
  background: #63cdff;
  box-shadow: 0 0 5px #13b3ff, 0 0 15px #13b3ff;
}

input[type="checkbox"]+label {
  transition: .5s;
}

input:checked[type="checkbox"]+label {
  letter-spacing: 5px;
  text-shadow: 0 0 5px #00b6ff, 0 0 10px #00b6ff, 0 0 20px #00b6ff, 0 0 40px #00b6ff, 0 0 60px #00b6ff;
}

.box input[type="button"] {
  border: none;
  background-color: #04abf2;
  border-radius: 5px;
  transition: .5s;
}

.box input:hover[type="button"] {
  letter-spacing: 5px;
  text-shadow: 0 0 5px #00b6ff, 0 0 10px #00b6ff, 0 0 20px #00b6ff, 0 0 40px #00b6ff, 0 0 60px #00b6ff;
  background-color: transparent;
}