* {
  box-sizing: border-box;
}

body, html {
  height: 100%;
  width: 100%;
  margin: 0;
}

body {
  background-image: radial-gradient( ellipse farthest-corner at 50% -200%, rgba(255, 255, 255, 0.9) 40%, rgba(170, 170, 170, 0.9)), repeating-linear-gradient( 90deg, rgba(200, 200, 200, 0.2), rgba(200, 200, 200, 0.2) 1px, transparent 1px, transparent 10px), repeating-linear-gradient( 180deg, rgba(200, 200, 200, 0.2), rgba(200, 200, 200, 0.2) 1px, transparent 1px, transparent 10px);
}

.full-screen-div {
  width: 100vw;
  height: 100%;
  min-height: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

#image-gallery {
  width: 800px;
  height: 380px;
  /*background-color: aqua;*/
}

#big-image-container {
  width: 100%;
  height: 310px;
  background-image: radial-gradient(circle farthest-side at 50% -200%, white 75%, #e0e0e0);
  border-radius: 2px;
  box-shadow: 0 4px 4px grey;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#prev, #next {
  cursor: pointer;
  width: 45px;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

#prev>img, #next>img {
  width: 15px;
  height: auto;
  transition: 0.3s;
}

#prev:hover img, #next:hover img {
  opacity: 0.25;
}

#next>img {
  transform: scale(-1);
}

#big-image {
  position: relative;
  width: 710px;
  height: 100%;
}

.gray-container {
  font-family: 'Cabin', sans-serif;
  position: absolute;
  bottom: 0;
  padding: 0 16px;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 3s;
  transition-timing-function: ease-in;

}

#big-image-container:hover .gray-container {
  opacity: 1;
  transition: 0.2s;
}

.gray-container>h1 {
  color: white;
  margin: 12px 0 8px 0;
  font-size: 18px;
}

.gray-container>p {
  color: rgba(255, 255, 255, 0.5);
  margin: 8px 0 12px 0;
  font-size: 11px;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*
bal fent 100;
145 800*310 nyilakkal együtt 710*85 12 46 12 --- 70 */