div {
  border: 1px solid black;
  border-top-width: 0;
  width: 400px;
  margin: auto;
}

div:hover {
  background-color: rgb(180, 96, 63);
}

div:first-of-type {
  border-top-width: 0;
}

div:last-of-type {
  border-bottom-width: 0;
}
