main {
  width: 240p;
  margin: auto;
  padding: 0;
  font-family: 'Baloo Thambi 2', cursive;
  font-size: 24px;
  font-weight: bold;
  color: white;
}

section {
  border: 10px solid #4285f4;
  padding: 0;
  width: 200px;
  margin: 10px;
}

p{
  text-align: center;
  margin: 0;
  padding: 24px;
}

.north {
  background-color: #E67676;
}

.south {
  background-color: #A9E6E6;
}