nav {
  display: flex;
  flex-wrap: wrap;
  background-color: purple;
  min-height: 50px;
  align-items: center;
}

nav a {
  margin: 10px;
  display: block;
  background-color: cyan;
  width: 10%;
  height: 30px;
}

a#double {
  width: 15%;
}

section {
  display: flex;
}

main {
  flex-grow: 4;
  background-color: yellow;
  height: 500px;
}

aside {
  flex-grow: 1;
  background-color: lime;
  height: 500px;
}