 body {
  background-color: #58E2C2;
  font-family: 'Roboto', sans-serif;
  color: #B8B8B8;
}

main {
  width: 70%;
  background-color: #F7F7F7;
  border-radius: 5px;
  box-shadow: 0 0 5px gray;
  margin: auto;
}

h1 {
  padding-top: 2em;
  text-align: center;  
  font-weight: 300;
  font-size: 2em;
  text-transform: uppercase;
}

form {
  width: 70%;
  margin: auto;
  display: flex;
}

/*ul {
  list-style-type: none;
  padding-left: 0;
}

li {
  line-height: 7.25rem;
  cursor: default;
}
*/

#todos, #controllers {
  font-size: 1.2em;
  border: 2px solid #B8B8B8;
  border-radius: 5px;
  display: flex;
  flex-direction: column;

}

input {
  border: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: 600;
  line-height: 2em;
}

input[type="text"] {
  /*min-width: 0;*/
  box-shadow: inset 0 0 5px #B8B8B8;
  padding: 0 0.5em;
  color: #B8B8B8;
}

input[type="button"] {
  background-color: #DD6EE6;
  padding: 0 0.5em;
  color: white;
}

#todos {
  flex-basis: 100%;
  justify-content: stretch;
}

#controllers {
  flex-basis: min-content;
  justify-content: space-between;
}

#controllers > div {
  display: flex;
  justify-content: space-between;
}

#controllers > div:nth-child(even) {
  background-color: aqua;
}

label:nth-child(even) {
  background-color: aqua;
}